* {
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  position: relative;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

header {
  z-index: 5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header * {
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  margin-top: 15px;
}

.logo span {
  font-size: 16px;
  font-weight: 100;
  display: block;
  text-align: right;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li a {
  display: block;
  padding: 30px 15px 10px 15px;
  transition: color 0.5s ease, background-color 0.5s ease;
}

nav ul li a:hover {
  background: white;
  color: black;
}

.main-area {
  height: 100vh;
  width: 100%;
  min-height: 500px;
  background: url(color-burst.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-weight: 600;
  font-size: 64px;
  text-shadow: 6px 12px 14px rgba(255, 255, 255, 0.7);
}

h1 span {
  font-weight: 100;
  display: inline-block;
  font-size: 80px;
  text-align: right;
  background: black;
  padding: 0 20px;
}

.about {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1140px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 27px 0 rgba(127, 133, 141, 0.18);
  position: relative;
  margin-top: 50px;
  z-index: 5;
  border-radius: 10px;
}

.info {
  padding: 30px 40px;
  width: 70%;
}

.info p {
  line-height: 1.7;
  letter-spacing: 1.5px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: unset;
}

footer {
  background: #494b4f;
  /* background: rgb(3,17,32); */
  color: white;
  padding: 40px 30px;
  box-shadow: 0 0 0 130px #494b4f;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.social p {
  font-size: 30px;
}

.social a {
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  margin: 10px 30px;
  background: rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  border-radius: 8px;
  min-width: 100px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.social a:hover {
  background: rgba(255, 255, 255, 0.6);
  transform: scale(1.2);
}
.social ul {
  display: flex;
}
